<div id="<%= dom_id listing %>">
  <p>
    <strong>Company:</strong>
    <%= listing.company %>
  </p>

  <p>
    <strong>Listing date:</strong>
    <%= listing.listingDate %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= listing.contact %>
  </p>

  <p>
    <strong>Activities:</strong>
    <%= listing.activities %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= listing.code %>
  </p>

  <p>
    <strong>Capital:</strong>
    <%= listing.capital %>
  </p>

  <p>
    <strong>Close:</strong>
    <%= listing.close %>
  </p>

  <p>
    <strong>Underwriter:</strong>
    <%= listing.underwriter %>
  </p>

</div>
