<div id="<%= dom_id asxlisting %>">
  <p>
    <strong>Code:</strong>
    <%= asxlisting.code %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= asxlisting.company %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= asxlisting.date %>
  </p>

  <p>
    <strong>Listingprice:</strong>
    <%= asxlisting.listingPrice %>
  </p>

  <p>
    <strong>Currentprice:</strong>
    <%= asxlisting.currentPrice %>
  </p>

</div>
