<%= form_with(model: asxlisting) do |form| %>
  <% if asxlisting.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(asxlisting.errors.count, "error") %> prohibited this asxlisting from being saved:</h2>

      <ul>
        <% asxlisting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :company, style: "display: block" %>
    <%= form.text_field :company %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.text_field :date %>
  </div>

  <div>
    <%= form.label :listingPrice, style: "display: block" %>
    <%= form.text_field :listingPrice %>
  </div>

  <div>
    <%= form.label :currentPrice, style: "display: block" %>
    <%= form.text_field :currentPrice %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
