<!DOCTYPE html>
<html>
  <head>
    <title>Subscription</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>
  
  <style>
  body {
    background-image: url('IPOWatchlist3.jpg');   
    background-image: no-repeat;                  
    background-attachment: fixed;                 
    background-size: cover;                       
  }
  </style>

  <body>
    <%= yield %>
  </body>
</html>


